// 변수 선언은 $
$blue: #228be6;
$gray: #495057;
$pink: #f06595;

// 반복되는 코드는 @mixin 으로 관리한다
@mixin button-color($color) {
	background: $color;
	&:hover {
		background: lighten($color, 10%);
	}
	&:active {
		background: darken($color, 10%);
	}
	&.outline {
		color: $color;
		background: none;
		border: 1px solid $color;
		&:hover {
			background-color: $color;
			color: #fff;
		}
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 600;
	outline: none;
	border-radius: 4px;
	border: none;
	cursor: pointer;

	padding-left: 1rem;
	padding-right: 1rem;
	// &는 자기 자신을 가르킨다.
	// 자기자신.클래스 상황에 맞는 css를 내부에서 설정이 가능하다
	&.medium {
		height: 2.25rem;
		font-size: 1rem;
	}
	&.large {
		height: 3rem;
		font-size: 1rem;
	}
	&.small {
		height: 1.75rem;
		font-size: 0.875rem;
	}

	// 색상에 따른 scss
	// 반복되는 코드는 mixin으로 관리
	// mixin을 사용할 때는 @include mixin이름(파라미터)
	&.blue {
		@include button-color($blue);
	}
	&.gray {
		@include button-color($gray);
	}
	&.pink {
		@include button-color($pink);
	}

	//
	// 자신 옆에 자신에게 margin left를 준다.
	& + & {
		margin-left: 1rem;
	}

	&.fullWidth {
		width: 100%;
		justify-content: center;
		margin-top: 1rem;
		margin-left: 0;
	}
}
